@{
    ViewData["Title"] = "Agregar candidatos";

}
<div>
    <h1>Agregar candidato</h1>
</div>
<form method="post" action='@Url.Action("GuardarCandidato","Home")'>
     <div class="form-group">
        <input  type="hidden" name="partido" value="@ViewBag.idPartido"> 
    </div>
    <p>sube una foto del candidato que eligio: </p>
    <div class="form-group 3">
        <input  type="file" name="partido" value="@ViewBag.idPartido"> 
    </div>
     <p> agrega el idPartido: </p>
      <div class="form-group 4">
        <input  type="text" name="partido" value="@ViewBag.idPartido"> 
    </div>
     <p> escriba el nombre del candidato: </p>
      <div class="form-group 4">
        <input  type="text" name="partido" value="@ViewBag.idPartido"> 
    </div>
     <p> escriba el apellido del candidato: </p>
      <div class="form-group 4">
        <input  type="text" name="partido" value="@ViewBag.idPartido"> 
    </div>
    <div class="form-group mt-2">
        <input  class="btn btn-success"  type="submit" name="">
    </div>
</form>