<div class="detalle"> 
<h5>Nombre: @ViewBag.DatosCandidato.Nombre</h5>
<h5>Apellido: @ViewBag.DatosCandidato.Apellido</h5>
<h5>fecha de nacimiento: @ViewBag.DatosCandidato.FechaNacimiento</h5>
<img src=" @ViewBag.DatosCandidato.Foto">
<h5>postulacion: @ViewBag.DatosCandidato.Postulacion</h5>
 <small class="text-muted"><a href='@Url.Action("VerDetallePartido", "Home", new {idPartido=@ViewBag.DatosCandidato.idPartido})'><button>ver Partido del candidato</button></a></small> 
 </div>
